// Override this file to add your own SCSS styling.

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=4abd1432-06d1-4c81-961c-6684b47128fc");
@font-face{
  font-family:"HelveticaNeueW01-57Cn";
  src:url("/webfont/Fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
  src:url("/webfont/Fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),
  url("/webfont/Fonts/88a238be-6477-4e71-bdc4-5a35bbf8d392.woff2") format("woff2"),
  url("/webfont/Fonts/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),
  url("/webfont/Fonts/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),
  url("/webfont/Fonts/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-67MdCn 692710";
  src:url("/webfont/Fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
  src:url("/webfont/Fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),
  url("/webfont/Fonts/423db818-6ba7-4789-995f-1f2d7f6018df.woff2") format("woff2"),
  url("/webfont/Fonts/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),
  url("/webfont/Fonts/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),
  url("/webfont/Fonts/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}

body,html,
h1,h2,h3,h4,h5,h6 {
  font-family: 'HelveticaNeueW01-57Cn', sans-serif;
}

h1 {
  font-size: 1.25rem;
  text-transform: lowercase;
}
h2 {
  font-size: 1.10rem;
  text-transform: lowercase;
}
h3 {
  font-size: 1.00rem;
  text-transform: lowercase;
}
h4 {
  font-size: 0.9rem;
  text-transform: lowercase;
}
h5 {
  font-size: 0.85rem;
  text-transform: lowercase;
}
h6 {
  font-size: 0.8rem;
  text-transform: lowercase;
}

.navbar,
.navbar-dark,
.navbar-light {
  font-family: 'HelveticaNeueW01-67MdCn 692710', sans-serif;

  .navbar-nav {
    text-transform: uppercase;

    .nav-link.active {
      background: #000000;
      color: #ffffff !important;
    }
  }

  .dropdown-item {
    text-align: right;
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0;
  }
}

body {
  font-size: 0.9rem;
}

.card {
  border-radius: 0;
}

.article-container {
  max-width: 1275px !important;
}

.gallery a[data-fancybox] img {
  height: 200px;
  margin: 3px;
}

.dark {
  .card {
    background: rgb(33,33,33);
  }

  .navbar-nav {
    .nav-link.active {
      background: #000000;
      color: #ffffff !important;
    }
  }

  .article-container {
    max-width: 1275px !important;
  }

}

.project-toolbar {
  .btn-toolbar {
    a {
      text-transform: lowercase;
      border-radius: 0 !important;
      font-size: 0.75rem;
    }
    a:focus, .btn:focus {
      box-shadow: none !important;
    }
  }
}

.dark {
  .project-toolbar {
    .btn-toolbar {
      a {
        color: #ffffff;
      }
    }
    .btn.active {
      color: #ffffff;
    }
  }
}

.article-tags {
  font-size: 0.75rem;
  color: #999999;
  a {
  }
}

#search-box {
  #search-query {
    border-radius: 0;
  }
}

#randomslide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


